[2015-08-15 16:10] cognitom opened #1 "Examples"
_This issue is originally opened at https://github.com/riot/riot.github.io/issues/7 and we decided to create this `examples` repo. I'd like to continue the discussion here._
### Playground

We can show it in `<iframe>` with our live editor.
- [ ] The simplest example and also a nice tutorial on Plunker.
### Basics

Well tested examples for the beginners. If compatible with Plunker, we can add the

[2015-08-16 07:54] cognitom opened #2 "Plunker, jsfiddle or any alternative?"
We need a good platform to show the demo, to reproduce the bug, ...etc.
As a playground for the Riot users, what is the best option? Some requirements here:

- put HTML, JavaScript, CSS, and **Tag file**
- API for creating the demo dynamically (because the example code is hosted on GitHub)
- user can fork it
- nice looking (I hope...)

AFIK, Only Plunker accepts the `.tag` files. So Plunker seems

[2015-08-16 07:55] cognitom commented on #2
@rsbondi @Mouvedia how about?

[2015-08-16 08:29] gregorypratt commented on #2
My order of preference:
1. Plunker (multiple files)
2. JSBin (console output)
3. CodePen (popular, looks nice. But hides code like the head tag)
4. JSFiddle (feels slow)

[2015-08-16 10:08] cognitom commented on #2
@gregorypratt thanks. Me, too. Almost same preference.

How about runnable? I've just run into this site.
https://runnable.io/

Looks pretty but still beta and unstable...
http://code.runnable.com/VOIYIALkqgAnHDmj/node-js-socket-io-and-react-js

[2015-08-16 13:47] Mouvedia commented on #2
http://jsapp.us might be interesting too for the server side of things.

[2015-08-16 14:36] cognitom commented on #2
@Mouvedia thanks, I'll add it to the list avobe.

@gregorypratt @GianlucaGuarini I've made a small tool to open the code on Plunker. Would you have a look?
- try this link: http://riotjs.com/examples/plunker/?app=todo-app
- source: https://github.com/riot/examples/tree/master/plunker

[2015-08-16 14:43] rsbondi commented on #2
Plunker:
Pros: multiple files, full control of head, zen coding, better search, public/private, code formatting
Cons: slow, unreliable embedding

Maybe @cognitom 's tool could be adapted to help overcome the embedding issue?

[2015-08-16 15:13] rsbondi commented on #2
Runnable has been around for a while and as mentioned seemed unstable when I tried it.  I don't see a repository for it, not open source?

I have not seen jsapp before but it looks like the last [commit](https://github.com/matthewfl/node-host/commits/master) on the project was on Sep 25, 2011 fwiw.

[2015-08-16 15:22] Mouvedia commented on #2
additional requirements:
- maintained
- isomorphic ready

[2015-08-16 19:47] aMarCruz commented on #2
I like too much the console output and the "Convert to html/js/css" features of jsbin, and we have full control of the header, jshint, themes, etc.
In paid plan we can force the theme color and font when other users open our bins.

Butt it seems obvious (to me) to use a syntax highlighter, load dynamically the code, and put a link to one or more of these sites.

[SyntaxHighlighter by Alex Gorbatch

[2015-08-16 21:04] GianlucaGuarini commented on #2
@cognitom WOW you did a great job I can't wait to include your examples in `riot.github.io` I like the way you have linked them to plunker and I would like to keep using it for now. Let's discuss about a possible switch to "whatever" platform once we realize that it does not fit anymore our needs. Let's work

:v:

[2015-08-17 01:02] cognitom commented on #2
Thanks all!
jsbin has much cleaner look and I love the console feature, too. But at this time, Plunker's "multiple file" has higher priority, I think. (BTW, we have chance to send PR to jsbin to support `.tag` files as like `.jsx`)
https://github.com/jsbin/jsbin/

Conclusion:

- let's go with **Plunker** (at this time)
- "open in Plunker" button
- use Plunker not in "embed mode" for "Playground" e

[2015-08-17 01:07] cognitom commented on #2
@aMarCruz syntax highlighter is a good idea :+1: I'm thinking about some custom tags for our example site.

- code viewer (syntax highlighter)
- markdown viewer
- iPhone previewer (just wrap iframe with the iPhone silhouette)

[2015-08-17 01:24] cognitom commented on #2
One more, console emulator would be nice, too. Something like this:

[code]

Then, we'll see the error on the page or Plunker.

[2015-08-17 06:46] tipiirai commented on #2
So having demos directly under the website is not even an option? We could make a jekyll template so that setting up a new demo is easy. Clearly the best *looking* option.

I guess live edits are the biggest motivation for embeddable demos.

[2015-08-17 07:06] aMarCruz commented on #2
@tipiirai , that's what I tried to say.
@cognitom , preview in mobiles is a good idea.

About embedded live edit with real-time output, see an interesting example in http://maquettejs.org/
This has an option for "open in codepen", too.

[2015-08-17 07:37] cognitom commented on #2
@tipiirai yeah, of course it's an option. But I'm not sure we need jekyll, because example page is a kind of SPA. I think it would be easier to test it if we host the SPA part and example codes in the same repo. And we can host it under `http://riotjs.com/example/`. In either case, hosting on `riot.github.io` or `examples` repo, it's not matter for the visitors. Thoughts?

[2015-08-17 07:56] cognitom commented on #2
@aMarCruz maquettejs's demo looks cool and attractive!
Technically can we do that wit Riot.js? I'm guessing about the template cashing in Riot.js. If we can update the tag file definition on the fly, let's try making the live demo :+1:

Then, how about...

- **Playground**: one live demo (if we can), only tag file is editable. It might include simple expressions, a loop and an event handler.
- **B

[2015-08-17 08:39] gregorypratt commented on #2
Re: https://github.com/riot/examples/issues/2#issuecomment-131647656

if you don't mind I might take the output from some of these custom tags and re-produce them in [RiotGear](https://riotgear.js.org)

[2015-08-17 08:47] cognitom commented on #2
@gregorypratt sounds great! Pls :+1:

[2015-08-17 09:18] tipiirai commented on #2
Thank you for the answer. I guess you are right that this it's not matter for the visitors. We should strive for usability and not looks.

It looks from above that Plunker offers the greatest amount of cons so let's go with it. Glad you took a stab on this and move forward! This examples repository is highly needed.

btw: is it possible to tweak the CSS of plunker?

[2015-08-25 14:29] cognitom commented on #2
@tipiirai sorry, I've missed your last question.

I don't think so... There could be some hackish way, but it might be unstable.
Anyway, fortunately, I've just realized that the code below works fine:

[code]

This means Riot can mutate the tag definition on the page. Fantastic!
And also, we don't have to show bit ugly Plunker on our page with `iframe`. Now we can move forward ;)
I'll try to combi

[2015-08-25 16:24] cognitom commented on #2
Here's a proof of concept :v:
I'm going to add CSS and apply "riotjs.com" template, later.

- demo: http://riotjs.com/examples/live-editor/
- source: https://github.com/riot/examples/blob/master/live-editor/live-editor.tag

[2015-08-26 05:44] tipiirai commented on #2
The ability to alter tags offers a fantastic way to customize applications later. Definitely an advantage in Riot.

[2015-08-26 06:14] GianlucaGuarini commented on #2
@cognitom the editor looks awesome. Maybe we could also pick one of the color schemes I've used on [colorsublime](http://colorsublime.com/) You can decide any of them and I will send you the ace src theme files

[2015-08-26 08:14] aMarCruz commented on #2
:+1:

[2015-08-27 06:27] tipiirai commented on #2
Awesome!!

I would like to tweak the UI/CSS a bit. Can I?

[2015-08-27 06:35] GianlucaGuarini commented on #2
@cognitom can't we use an iframe to handle to evaluate the code coming from the editor? Your demo seems to break if I use scoped css inside a tag. I think we could try the `window.postMessage` across the parent and the iframe to evaluate the code, what do you think?

[2015-08-27 06:42] cognitom commented on #2
@GianlucaGuarini agreed. It's better to use iframe. Good catch, thanks!

[2015-08-27 07:15] cognitom commented on #2
@tipiirai sure! Feel free to modify it.

[2015-08-28 14:18] gregorypratt commented on #1
- How to use Mixins
- How to use ES6 modules (can you?)

[2015-08-29 00:30] aMarCruz commented on #1
:+1:
performance tips

[2015-08-29 01:44] cognitom commented on #1
@gregorypratt thanks! Pls send it as a PR ;)

Note: we can register [mixin without using globals](http://plnkr.co/edit/TkOQ1p?p=preview).

[code]

[2015-08-29 06:13] gregorypratt commented on #1
Cool. Will do. And update to not use global. Which I was wondering about too!

[2015-08-29 17:34] weepy commented on #2
One thing that I've found a bit annoying with jsbin + friends is the difficulty of being able to step through the code in the dev tools. Would like be possible to add in ??

[2015-09-09 08:50] tipiirai commented on #2
I updated the looks of the live editor:

![image](https://cloud.githubusercontent.com/assets/169330/9757376/eedf9278-56e8-11e5-837c-e8389aa6282c.png)

Hoping to see that live soon!

[2015-09-09 09:11] GianlucaGuarini commented on #2
@tipiirai cool!

[2015-09-09 12:41] Mouvedia commented on #2
Maybe a collapsible frame with the documentation of tags would be useful?

[2015-09-09 22:51] cognitom commented on #2
@tipiirai cool, thanks!

[2015-09-11 14:32] cognitom opened #12 "Makes gh-pages as default branch"
Is it OK?
I think we don't have to manage both `master` and `gh-pages`. We could drop `master` after the default changed.

[2015-09-13 05:05] cognitom commented on #12
@rsbondi thoughts?

[2015-09-13 05:25] rsbondi commented on #12
`master` seems redundant to me.  How do you plan to verify PRs before merging?

[2015-09-13 05:42] cognitom commented on #12
We could add Travis to run the test in each sub directories.
And this repo is not a **library**, so we don't have to be nervous, do we?

[2015-09-13 11:52] cognitom commented on #12
@rsbondi I've just added `.travis.yml` to this repo. It'll help us to verify PRs :-)

The point is using build matrix for each sub-directory. It works fine.

[code]

cc @aMarCruz @GianlucaGuarini

[2015-09-13 11:58] cognitom commented on #12
OK, now the default branch is `gh-pages`, and `master` has been dropped.

[2015-09-13 11:58] #12 closed

[2015-09-13 14:53] cognitom commented on #2
After some thought and struggling, I've given up making the example page on this repo. For the sake of translation and maintenance, I've realised that it should be on `riot/riot.github.io`. Yeah, you were right :smile_cat:
Have a look at https://github.com/riot/riot.github.io/pull/32, thanks.

[2015-09-14 07:08] tipiirai commented on #12
Nice.

Just noticed that the Riot repository has a whopping 26 branches. Any redundancy there?

[2015-09-14 07:16] cognitom commented on #12
I think we could drop these stale branches. @GianlucaGuarini can we?
https://github.com/riot/riot/branches/stale

[2015-09-14 07:27] GianlucaGuarini commented on #12
@cognitom I did not work on it so I guess it's ok to drop it

[2015-09-14 10:24] cognitom commented on #12
@GianlucaGuarini i c. I've clean up all the merged branches and more than 3-month-old closed one. I've kept a few because it has reference from the issues.

I've also dropped `gh-pages` which is not maintained.

OK, @tipiirai now we have just 9 branches ;-)
https://github.com/riot/riot/branches/all

cc: @rsbondi @aMarCruz

[2015-09-15 07:28] tipiirai commented on #12
Much nicer!

[2015-09-15 07:29] GianlucaGuarini commented on #12
@cognitom @tipiirai I will delete some old branches as well asap
@cognitom thank you so much!

[2015-11-01 16:52] GianlucaGuarini opened #15 "Update to riot 2.3"
All the example must be updated using riot 2.3

[2015-11-22 18:34] #15 closed, assigned to nobody

[2015-12-08 23:14] Aprillion opened #17 "todo-app and todo-app-precompiled are different"
There is an extra X1 button on http://riotjs.com/examples/todo-app/ which is not present on http://riotjs.com/examples/todo-app-precompiled/ (on Win 10, Firefox 42.0, no errors in the console for either app)
![riot_todo_x1_button](https://cloud.githubusercontent.com/assets/1087670/11671561/ac37c86a-9e09-11e5-8311-9b0ed8b5f29f.png)

The 2 examples are listed as comparable on http://riotjs.com/guide

[2015-12-12 02:50] #2 closed

[2015-12-12 02:56] #17 closed, assigned to nobody

[2015-12-12 02:57] cognitom commented on #17
@Aprillion thanks for reporting. I've recompiled the tag file. Now it seems OK ;-)

[2016-01-29 17:06] restlessmedia commented on #1
riotjs + commonjs + browserify?

[2016-03-06 15:33] believer-ufa opened #25 "Cannot read property 'first' of undefined"
I cant run this example in plunker :(

http://plnkr.co/edit/XRQXCmKgOlyDEDHQ06wY?p=preview

`Cannot read property 'first' of undefined list.tag[51]`

[2016-03-06 18:44] GianlucaGuarini commented on #25
I need to fix this, I will try to figure out where is the issue

[2016-03-06 20:42] believer-ufa commented on #25
In you browser you example work fine? I use Chrome 48.

[2016-03-06 20:44] GianlucaGuarini commented on #25
it does not work..

[2016-03-06 23:04] believer-ufa commented on #25
I fixed it: http://plnkr.co/edit/GDMHOY7jgo31yALSPBs9?p=preview

[2016-03-07 17:19] dalyr95 opened #27 "Riot can't update checkboxes after a user has interacted with them"
In Riot 2.3.16, Riot's DOM updating seems to be alot more efficient and doesn't replace nodes it doesn't have to if only an attribute has changed.

This has caused a problem with checkboxes, once a user has interacted with them, Riot can no longer toggle their state. I believe this is because Riot uses setAttribute to set checked="checked". Riot also needs to set element.checked = true/false for t

[2016-03-07 17:47] dalyr95 commented on #27
Or Riot can nuke the input and replace it which would probably be the cleanest way without having to again transverse the DOM.

[2016-03-07 18:24] dalyr95 commented on #27
Wrong project. Wrong tab. Soz.
https://github.com/riot/riot/issues/1647

[2016-03-07 18:24] #27 closed, assigned to nobody

[2016-03-07 21:55] GianlucaGuarini commented on #25
it seems that this issue comes from riot, the `update` event gets triggered before the `mount`. We need to fix the issue in riot and not in the example

[2016-03-07 22:01] believer-ufa commented on #25
Yes, i think about it, but thought that I was doing something wrong.

[2016-03-09 21:34] #25 closed, assigned to nobody

[2016-03-09 21:35] GianlucaGuarini commented on #25
I have fixed the demo, the riot core issue raised up by this example will be a breaking change and it will be introduced in riot 3.0.0. Thanks for your help

[2016-03-15 19:03] karolyi commented on #1
unit (tag) testing?

[2016-03-15 19:17] GianlucaGuarini commented on #1
@karolyi isn't [this enough](https://github.com/riot/examples/blob/gh-pages/timer/test/specs.js)?

[2016-03-15 19:20] karolyi commented on #1
@GianlucaGuarini I'm currently looking at riot's own unit test but it seems a bit voodoo for me.

my concern is that I'd like to have separated unit tests for each of my tags, but the tags sometimes nest another tags, thus I can't really separate them in a good way.

any hints on that would be helpful.

[2016-03-15 19:24] GianlucaGuarini commented on #1
Indeed I have linked to a test file that was testing only single tag `<timer>`

[2016-03-15 19:51] karolyi commented on #1
@GianlucaGuarini after looking at riot's own unit tests, do I assume it right that it doesn't handle nested tags? nor is there a way for that?

[2016-03-15 20:13] GianlucaGuarini commented on #1
what do you mean? Can you make an example repo? A unit test depends a lot on how you build it there is no standard way to do it. In a unit test you can test nested tags as well depending on what you mount in your test markup

[2016-03-15 20:24] karolyi commented on #1
I actually have one ongoing: https://github.com/karolyi/forum-django

you can clone it, and then `npm install`, `karma start` or `gulp webpack-dev-server` and navigate to `http://localhost:8081`

what you'll see here is that `index.tag` has a nested tag called `test-tag`, which gets mounted automatically. because of that, I can't separately test the functionality of `index.tag` in the future, as i

[2016-03-15 20:31] GianlucaGuarini commented on #1
Have you also checked [karma riot](https://github.com/riot/karma-riot)? I think that if you need to test individually each nested tag you can use something like:
`karma.config.js`

[code]

and in `test/my-tag.spec.js`:

[code]

[2016-03-15 20:38] karolyi commented on #1
@GianlucaGuarini yes I checked it out, and I use it.

it seems that the only viable solution so far is to define a karma.conf for each tag and their test, by passing only the respective file and its test to karma. which is kinda overkill.

if you take a look at my aforementioned repo, you'll see that karma imports all the tags by the `files` specification, thus all the tags get imported and initia

[2016-03-15 20:44] GianlucaGuarini commented on #1
Ok so then you can simply use:

[code]

[2016-03-15 21:04] karolyi commented on #1
A question: what do I need in order to have `riot.compile` in the browser? using `karma-riot` didn't work, tried including `node_modules/riot/lib/browser/compiler/compile.js` but it errored.

[2016-03-15 22:57] karolyi commented on #1
Okay, I solved it! The following steps were necessary:
- Since I'm using babel to transpile the javascript source from es6 to es5, I needed to install `babel-standalone` and put `node_modules/babel-standalone/babel.js` to the files config
- babel is now exported to the test environment, but `riot+compile.js` looks for it with `window.babel`, whereas it is exported with `window.Babel`. See [here](h

[2016-03-16 11:15] karolyi commented on #1
Hrm, let me take my former comment back.

Whereas the thing with `window.Babel` was right, after replacing the order of the inclusion, the nested element automounted again. ouch.

since karma is executing all tests in the same iframe (afaik there's no way to execute each test in a separate iframe) we can't really solve this problem.

@GianlucaGuarini, any opinions?

[2016-03-16 11:39] karolyi commented on #1
Further investigating in riot.js, found out that there's no way do deregister an element registered with `riot.tag2`.

If I could have something like it, with which I could simply deregister an element after testing it, it wouldn't automount, and I could separate tests.

[2016-03-16 12:42] karolyi commented on #1
I think because of that, I'll have to go back to React. [They have this problem solved by mocking nested elements.](https://nemisj.com/how-to-test-react-js-components/)

This is really unfortunate, as I liked riot the way it is, but it seems too immature for extended testing. Until a function which hinders nested elements from automounting (either with deregistering elements or by passing an optio

[2016-05-15 04:20] yckart commented on #1
A bit unconstructive, but I hate Plunker!

[2016-07-26 22:40] suchja opened #31 "Plunker Integration question"
Maybe a little of topic, but I really like your Integration with plunker. Unfortunately I can't find out how it works. Do you know of any tutorial or article describing how to achieve it?

Thank you!

[2016-07-27 04:33] rsbondi commented on #31
look [here](https://github.com/riot/examples/blob/gh-pages/plunker/app.tag) the form is submitted with the values generated by the tag

[code]

 each file you send is mapped from the object

`{ name: name, content: content }`

to the form element `
<input each={ files } type="hidden" name="files[{ name }]" value={ content }>`

which translates to for example:

[code]

the `value` attribute is the

[2016-07-31 12:33] suchja commented on #31
That's really cool! Thank you for this detailed explanation.

[2016-07-31 12:33] #31 closed, assigned to nobody

[2016-09-12 04:58] silentzone opened #33 "examples/webpack: cannot render sub component <logs>"
![image](https://cloud.githubusercontent.com/assets/273957/18424867/4ff0a424-78e6-11e6-93d6-fab10c2ab96a.png)

[code]

add code   mount 'logs' the sub component can reander but not work parent is undefine

[2016-09-17 15:20] silentzone commented on #33
is close. find way to solve

[2016-10-07 20:04] JrSchild commented on #33
Have you found a solution to this?

[2016-10-08 10:12] GianlucaGuarini commented on #33
I will check this asap

[2016-11-02 10:12] ghost opened #36 "Refresh Problem with Router - Complex example"
I tried router-complex example, everything works nice but i noticed that when i refresh the page
[code]
it throws back Syntax error and i'm basically seeing nothing on the screen. I'm trying to make a SPA for my portfolio, and want to format the url structure like
[code]
wish i could solve this problem myself..any suggestions?
![2016-11-02 19 04 09](https://cloud.githubusercontent.com/assets/66395

[2016-11-02 10:27] GianlucaGuarini commented on #36
@no-wa-ke please make a live example to allow us to check your issue, remember that if you want to use html5 history navigation you need to configure your server properly [google search](https://www.google.ch/search?q=html5+history+server+configuration&ie=utf-8&oe=utf-8&client=firefox-b-ab&gfe_rd=cr&ei=RL8ZWPqCIqvC8gecxqvQBQ)

[2016-11-02 13:58] ghost commented on #36
@GianlucaGuarini thank for your quick reply. Well, I used superstatic for the server as the config file were given in the example. I added

[code]

on top of index.html and fixed the problem. Here are some live examples.(I'm using express as a middleware for pushstate-server )

without base tag:
http://riot-router-example.herokuapp.com/first/apple

with base tag:
http://riot-router-example-with-ba

[2016-11-02 14:23] GianlucaGuarini commented on #36
@no-wa-ke please would you mind making a pull request?

[2016-11-02 14:43] ghost commented on #36
@GianlucaGuarini added on Pull #37

[2016-11-02 15:03] cognitom commented on #36
Hi. As I mentioned on the PR, we need to care about our demo page.
http://riotjs.com/examples/router-complex/
In the page, we should use `<base href="/examples/">`.

Actually, GitHub Pages doesn't support settings around HTML5 history navigation, so our page doesn't, either. That's also the point we have to fix, related to this issue...
I think we need to fork the example into _HTML5 history versi

[2016-11-02 15:49] GianlucaGuarini commented on #36
@cognitom yes go on thanks

[2016-11-02 15:59] cognitom commented on #36
OK, will do 😄
@no-wa-ke I'll make another PR, asap. Could you check that later? Thanks!

[2016-11-02 18:31] cognitom commented on #36
OK, done.
@GianlucaGuarini could you pls merge #38, when you have time.

[2016-11-02 18:48] ghost commented on #36
@cognitom works like a charm, thank you !

[2016-11-03 08:06] #36 closed, assigned to nobody

[2016-11-16 15:25] cognitom opened #39 "Next: update examples for Riot3"
Your contributions are always welcome!
Feel free to send PRs to `next` branch. Thank you :wink:

- [x] bug-reporter - checked by @cognitom
- [x] color-palette - fixed by @cognitom 8cf398173189e7bfb774d10f1d55588905998c31
- [x] es6 - checked by @cognitom
- [x] if-else-elseif - #40 fixed by @cognitom, @GianlucaGuarini   ~~567683d962162ff7a694dd3b9676a32b1517762a~~ c9570fb83c6b9d041f84d681f9c3d6a9e1b

[2016-11-16 15:32] cognitom commented on #1
Now, thanks to all, we have a lot of examples. I'm closing this.

Then, it's a time to upgrade those to Riot 3: #39 😄

[2016-11-16 15:32] #1 closed

[2016-11-16 15:35] cognitom opened #40 "[Riot 3] if-else-elseif example fails the first rendering"

[2016-11-16 16:00] GianlucaGuarini commented on #40
the `update` and `updated` event will not be triggered on the first mount. Use the `mount` event instead

[2016-11-16 16:02] cognitom commented on #39
Contributing instruction:
1. fork from `next` branch of `riot/examples`
2. check an example not checked yet above
3. if OK, comment at this issue
4. if NG, [create new issue](https://github.com/riot/examples/issues/new) about it
5. if you know how to fix, send your PR to `next` branch!

Thank you!

[2016-11-16 16:03] cognitom commented on #40
Cool! Thanks @GianlucaGuarini

[2016-11-16 17:05] #40 closed, assigned to cognitom

[2016-11-16 17:28] cognitom commented on #40
This works:

[code]

but this doesn't:

[code]

I'm not sure why...
@GianlucaGuarini any thought?

[2016-11-17 05:52] kkeeth opened #41 "examples/todo-app-precompiled: mistake version and cannot run"
At `todo-app-precompiled/index.html`,
[code]
the version of riot.js in this URL is `v2.6.7`!
So, I changed the URL to `https://rawgit.com/riot/riot/next/riot.min.js` and displayed index.html in the browser, it was displayed as follows.

![todo-app-precompiled](https://cloud.githubusercontent.com/assets/4125257/20377787/2905cbc8-acd5-11e6-99d8-e7759e690af9.png)

And in this state I tried running th

[2016-11-17 06:06] cognitom commented on #41
Hi, @k-kuwahara san, nice catch. It should point to `next` branch.
https://rawgit.com/riot/riot/next/riot.min.js

Could you pls send PR about this? Thanks.

[2016-11-17 07:02] cognitom commented on #41
Thanks for your contribution #42! I've added your name to #39 😉

[2016-11-17 07:02] #41 closed, assigned to nobody

[2016-11-17 07:12] kkeeth opened #43 "examples/todo-app: cannot get the input value"
I try to run`todo-app` on [plunker](https://plnkr.co/edit/JYyTe9zzc4sTcjLP5o0w?p=preview), but the following error was output to console on `add` method. Since version 3.0.0, can we get the value of input tag specified by the value of `name`?

![todo-app](https://cloud.githubusercontent.com/assets/4125257/20379463/be1fc93e-acdf-11e6-991e-a69b25736e85.png)

[2016-11-17 07:23] GianlucaGuarini commented on #40
@cognitom from a quick look the first check does not bind the this scope, and the second does it.

[code]

[2016-11-17 08:02] cognitom commented on #43
Oh, a good point, that's a deprecated feature. We need to use `ref` attributes instead of `name` or `id`.
https://plnkr.co/edit/0yK3vigCfCnD2HKZrTn2?p=preview

[2016-11-17 08:58] kkeeth commented on #43
@cognitom Thank you for your reply! It's ok. I'll send PR.

[2016-11-17 10:28] cognitom commented on #40
Oops, it was simply my mistake. Thanks @GianlucaGuarini !
Here's working example and fixed in b9cd938245dc755c19e9e1dc70fa45e32502d170

[code]

But `this.on('mount', this.check)` still doesn't work. It looks that the mount event isn't raised. I'm looking into deeper later.

[2016-11-17 10:43] cognitom commented on #40
@GianlucaGuarini maybe I see.

If we change something in `mount` event, nothing appear in the dom until we call `this.update()`. Is this a correct behavior?
http://plnkr.co/edit/XhqhtdtgZWDbWOk4bYRV?p=preview

[2016-11-17 10:49] GianlucaGuarini commented on #40
@cognitom yes because we have also a `before-mount` event http://plnkr.co/edit/ni5ky7V3USB5A0NJ5C5z?p=preview

[2016-11-17 10:52] cognitom commented on #40
@GianlucaGuarini yeah, that's right! Sorry, I forgot `before-mount`.

[2016-11-17 10:54] GianlucaGuarini commented on #40
@cognitom basically `before-mount` and calling the function directly on init [are the same thing](https://github.com/riot/riot/blob/next/lib/browser/tag/tag.js#L229-L231) but in this way it's clearer (at least for me) what should happen before and after the mount event

[2016-11-17 11:39] cognitom commented on #40
I see, thanks for the detail. Agreed.
OK, the latest code is [here](https://github.com/riot/examples/blob/next/if-else-elseif/if.tag). Much simpler :smile:

tl;dr, my recommended writing would be like this:

[code]

[code]

[2016-11-17 11:47] cognitom commented on #43
Fixed in #44

[2016-11-17 11:47] #43 closed, assigned to nobody

[2016-11-17 11:48] GianlucaGuarini commented on #40
Eventually.. this is also valid es5 syntax:

[code]

[2016-11-17 11:55] cognitom commented on #40
Yep. And sometimes invalid in a complex example. That makes beginners mad... sigh.

[2016-11-18 05:25] kkeeth commented on #39
@cognitom

I have checked `examples/mixins` and I think it is no problem!!
But, the version of riotjs being read by the following application remained old.

`http://riotjs.com/examples/plunker/?app=mixins`

[2016-11-18 06:47] cognitom commented on #39
@k-kuwahara cool! I've update the check list above.

As you mention, plunker links refer to `master` actually. I'll merge `next` into `master` after the release of Riot 3, so don't worry. Thank you!
http://riotjs.com/examples/plunker/?app=mixins

[2016-11-18 07:18] GianlucaGuarini commented on #39
@cognitom I have reordered your list, examples done go on the top ;)

[2016-11-20 05:28] kkeeth commented on #39
@cognitom
I have checked the following applications.
- observables
- timer
- webpack

But, there is one problem about `webpack`, I will create new issue.

[2016-11-20 05:37] kkeeth opened #46 "examples/webpack: mistake version"
Please this capture, the version of riotjs is `v2.6.7` in `bundle.js`.

![2016-11-20 14 24 09](https://cloud.githubusercontent.com/assets/4125257/20460684/8754dee8-af2e-11e6-8721-0969b0363316.png)

[2016-11-21 08:14] cognitom commented on #46
Update needed.
https://github.com/esnunes/riotjs-loader/blob/master/package.json#L31

Could you pls [make a new issue](https://github.com/esnunes/riotjs-loader/issues) there?

[2016-11-22 18:09] cognitom commented on #39
Almost done!
Rollup and webpack might need update the package itself.
Basically, I think we can merge this after the release of Riot 3.0.0.

[2016-11-22 18:41] GianlucaGuarini commented on #39
great work guys!

[2016-11-22 19:46] GianlucaGuarini commented on #39
I have added a note on our play page http://riotjs.com/play/
We will remove it once we will be done here ;)

[2016-11-24 11:18] cognitom commented on #39
OK, landed. #47
Thank you so much guys!!

[2016-11-24 11:18] #39 closed, assigned to nobody

[2016-11-24 11:25] cognitom commented on #39
I've removed the note, too.
http://riotjs.com/play/

[2016-11-24 11:46] GianlucaGuarini commented on #39
@cognitom awesome thank you

[2016-11-25 02:53] kkeeth commented on #46
@cognitom
oh! I see.
I sent a PR to @esnunes.

So, I close this issue.

[2016-11-25 02:53] #46 closed, assigned to nobody

[2016-11-25 02:56] cognitom commented on #46
Thanks!

[2016-11-26 21:57] believer-ufa opened #48 "Plunker .tag files syntax"
If you add .tag files on Plunker, it dont set syntax highlighting. Maybe rename all examples files to `.html` extensions?

For example, todo app: http://plnkr.co/edit/uQp4fVG0TW6jeKkcW34g?p=preview
You original: http://riotjs.com/examples/plunker/?app=todo-app

Select todo.tag file and try to change it ))

[2016-11-27 15:19] GianlucaGuarini commented on #48
@believer-ufa we don't own plunker and we can not do anything to solve this issue. Keep using the html extension on plunker since riot does not really care about file extensions

[2016-11-27 15:19] #48 closed, assigned to nobody

[2016-11-27 15:25] GianlucaGuarini commented on #33
I have checked the example and I don't see any problem

[2016-11-27 15:26] #33 closed, assigned to nobody

[2017-01-14 03:55] btakita opened #50 ""replacement content must be a string" on rollup build"
[code]

[2017-01-14 04:04] btakita commented on #50
https://github.com/rollup/rollup/issues/1251

[2017-01-14 04:16] btakita commented on #50
Fixed by https://github.com/rollup/rollup/issues/1258

rollup 0.41.3

[2017-01-14 04:16] #50 closed, assigned to nobody

[2017-01-17 19:33] ilanc opened #51 "ES6 sample is broken"
The ES6 example seems to be broken both on [plunker](http://riotjs.com/examples/plunker/?app=es6) and when I run locally. I'm still quite new so not sure where to look. The compiler seems to be creating invalid javascript i.e. `es.tag.js` has:
[code]

note the `undefined`'s

[2017-01-17 19:36] ilanc commented on #51
If I manually correct this and rerun from the console then it works i.e.
[code]

[2017-01-17 21:32] GianlucaGuarini commented on #51
you are right this example was made with an old babel version. We need to update it using the newest babel

[2017-02-04 17:09] #51 closed, assigned to nobody

[2017-03-21 20:29] rajus-git opened #53 "Live filtering example doesn't work"
There is something wrong with Live filtering example. Yahoo changed the API or something? The example does not work out of the box and should be fixed.

[2017-03-22 07:10] GianlucaGuarini commented on #53
@cognitom could you please have a look at it?

[2017-03-22 08:47] cognitom commented on #53
@Rajas-Git thanks for reporting!

Yeah, it looks so. It happened last year according to StackOverflow.
http://stackoverflow.com/questions/38355075/has-yahoo-finance-web-service-disappeared-api-changed-down-temporarily

This API still works well, but there's no support for `jsonp` now...
http://finance.yahoo.com/webservice/v1/symbols/allcurrencies/quote?format=json

Unfortunately, the response head

[2017-03-22 10:13] cognitom commented on #53
It seems exactly what we're looking for!
http://fixer.io/

[2017-03-22 10:45] #53 closed, assigned to nobody

[2017-03-31 09:40] fabien opened #54 "Question on example: animated-list-reordering"
@cognitom I was looking through this example `animated-list-reordering` and was wondering about this particular comment: https://github.com/riot/examples/blob/gh-pages/animated-list-reordering/list.tag#L57

I tried to add items and update the flip instance accordingly, but I was unsuccessful. I have used the FLIP technique before, but not within the context of Riot. I don't see where you'd update

[2017-04-06 09:06] cognitom commented on #54
@fabien thanks for reporting! This example was made by @GianlucaGuarini . It seems better to ask him about it 😄

[2017-04-14 14:07] #54 closed, assigned to nobody

[2017-04-14 22:03] fabien commented on #54
@GianlucaGuarini thanks!

[2017-05-08 19:52] bmikeb opened #55 "Rollup plugin failed to parse a tag in certain condition"
Hello,

My app uses a tag
`<my-tag style="height:{height}px"> <my-tag>
...
this.height=100`

Riot compiler does make its work fine, while rollup plugin fires an error. If instead of inline styling I'm using a `{class:class}`, all worked fine though.

Mikhail

[2017-05-08 23:19] cognitom commented on #55
Hello @bmikeb, pls open your issue at [rollup-plugin-riot](https://github.com/riot/rollup-plugin-riot/issues). Thanks.

[2017-05-08 23:19] #55 closed, assigned to nobody

[2017-05-30 19:54] gnimmelf opened #57 "Humbly asking for help."
Hi! Sorry to bother you, but I am really stuck with getting sourcemaps working for `riot` though `rollup`.  My latest attempt was to mimic your recipe here in the `gulp` setup I have. I always manage to get it bundled and working, but the sourcemaps remain an elusive mystery.

This is my latest attempt after running `npm-chek-updates`:

[code]
Still this message haunts me: `Sourcemap is likely to

[2017-05-30 20:08] gnimmelf commented on #57
Dah. A gap in my head. Checked the `rollup-plugin-riot`, and it is (still) the culprit. My frustration got the better of me. Saw you there. Closing.

[2017-05-30 20:08] #57 closed, assigned to nobody

[2017-06-02 10:19] bmikeb opened #58 "Issue with yielding data from <calendar> to <btn> (riot-bootstrap)"
Hi there,
I found that `{daynum}` value isn't passed correctly to `<btn>` tag (in v.3 only), so days aren't displayed.
[code]
Though in v.2.5 yielding works fine.

[2017-06-02 19:44] GianlucaGuarini commented on #58
@bmikeb this is the wrong project.. try submitting the issue [here](https://github.com/cognitom/riot-bootstrap)

[2017-06-02 19:44] #58 closed, assigned to nobody

[2017-07-12 19:41] StarpTech opened #59 "Import scss files in riotjs single file components"
Hi, Im looking for way to `import` scss in `style` tags like in Vuejs but with the current setup it doesnt work. Thanks.

[2017-09-04 15:17] StarpTech commented on #59
Any solution available ?

main.scss
[code]

cool.tag
[code]

riotjs produced

[code]

[2017-10-23 19:05] petri opened #61 "webpack no longer has preLoaders"
The examples still refer to preLoaders ...

[2018-03-14 03:25] gubasso opened #62 "GraphQL Example is blank"
http://riotjs.com/examples/graphql/ shows nothing... a blank page.

[2018-03-14 07:06] GianlucaGuarini commented on #62
you need to run it with webpack. It's not meant to be available online

[2018-03-14 07:06] #62 closed, assigned to nobody

[2018-03-14 12:14] gubasso commented on #62
Many thanks!

[2018-08-05 14:35] dharmax opened #63 "What is the most up-to-date recommended seed/setup for latest riot version (3.11)?"
What is the most elegant way to get a riot based UI today?

i'd love the following points to be addressed:

1. A proper code-mapping for easy debugging
2. A good way to bundle the application (so far i used Webpack and JSPM)
3. It would be lovely if it would work elegantly with Typescript.
4. Is it best to use Tag files, or straight JS? If the later, would it be better to use a class that inherit

[2018-08-07 20:05] GianlucaGuarini commented on #63
I have answered on stackoverflow since this is not really an issue. I close this one avoiding to have the same contents in 2 different places

[2018-08-07 20:05] #63 closed, assigned to nobody

[2019-06-06 13:24] SassNinja opened #80 "Not working in IE11"
## Help us to manage our issues by answering the following:

1. Describe your issue:

I'm trying to use riot v4 with IE11 and added all required polyfills.
However even with it the code throws an error:
[code]

Any idea how to fix this or rather is riot v4 supposed to be used with IE11?

Here's my code

**index.html**
[code]

**index.js**
[code]

**my-list.riot**
[code]

2. Can you reproduce the i

[2019-06-08 05:30] Elastic1 commented on #80
you need [webcomponents template polyfill ](https://www.npmjs.com/package/@webcomponents/template).

[2019-06-11 06:49] SassNinja commented on #80
@Elastic1 thanks for the hint!

I've installed that polyfill. Now I get another error which comes from a function called `morph`

[code]

Precisely it's `sourceWalker.nextNode()` which throws the error `Exception occurred.`
(sourceWalker is a TreeWalker what's actually supposed to work in IE11)

Any idea how to fix this one?

[2019-06-18 08:21] anonimusprogramus opened #70 "Code-splitting bundle.js"
Current Rollup example works well, outputting one file bundle.js with iife format.

But when the size of bundle.js grows bigger, perhaps we need advanced Rollup (or Webpack/Parcel) configuration which enables minify, code-split, dynamic imports, etc.

It would be a great help if this enhancement can be applied on current v4 examples.

Thanks.

[2019-06-22 06:09] ashvin777 commented on #2
You can try out JSitor.com.

[2019-06-27 09:16] anonimusprogramus opened #71 "Riot with Tailwind"
Hi @GianlucaGuarini

Would there be a preprocessor example of Riotjs with [Tailwindcss](https://github.com/tailwindcss/tailwindcss)?

Thanks.

[2019-06-29 17:45] GianlucaGuarini commented on #80
I had to polyfill many native browser features and create a bundle via babel only for IE11 but Riot.js 4 can definitely work on ie11 it's just not supported out of the box:

https://plnkr.co/edit/DLGFc6W0vUZcWqsnbfsR?p=preview

[2019-07-14 16:46] hudelgado opened #74 "Migrate remaining examples to riot4"
Hi, if you need i can migrate the examples that aren't updated to riot4.

[2019-08-01 20:10] GianlucaGuarini commented on #74
@hudelgado that would be great wherever it's possible. I think the router examples need to be on hold because the new Riot Router was not released yet. For all the others your help would be really appreciated. Thank you

[2019-08-03 21:15] GianlucaGuarini commented on #71
No I don't think we need an example to explain how to embed a CSS framework with Riot.js but thanks for asking it

[2019-08-03 21:15] #71 closed, assigned to nobody

[2019-08-03 21:16] GianlucaGuarini commented on #61
This issue no longer exists

[2019-08-03 21:16] #61 closed, assigned to nobody

[2019-08-03 21:17] GianlucaGuarini commented on #59
closing this issue due to inactivity

[2019-08-03 21:17] #59 closed, assigned to nobody

[2019-08-11 15:37] raxell opened #76 "ES6 example"
Does the [es6 example](https://github.com/riot/examples/tree/gh-pages/wip/es6) still make sense in riot v4?
Sould it be migrated or removed?

[2019-08-11 15:39] GianlucaGuarini commented on #76
naa we can delete it

[2019-08-11 16:03] #76 closed, assigned to nobody

[2019-08-13 15:08] lxndrdagreat commented on #80
@GianlucaGuarini I unfortunately have to support IE 11 for a few clients, so I am continuing to use Riot 3. I would love to be using Riot 4 at work (using it in personal projects and loving it). I use Rollup and Babel as part of my workflow for for both Riot 3 and 4, precompiling instead of using "+compiler" in the browser.

I've been trying to replicate your plunkr locally, by cloning the Riot re

[2019-08-13 15:19] GianlucaGuarini commented on #80
I will create a working IE11 example with Riot.js 4 I think it's the easiest path to take here

[2019-08-13 15:19] lxndrdagreat commented on #80
Thank you so much! I absolutely love what you've been doing with Riot 4 and would like to have my team using it.

[2019-08-14 11:41] raxell commented on #74
Does make sense to migrate the [mixin example](https://github.com/riot/examples/tree/gh-pages/wip/mixins)? It seems equivalent to the [plugin example](https://riot.js.org/documentation/#plugins) in the doc.

[2019-08-14 13:31] GianlucaGuarini commented on #74
naa we can delete it

[2019-09-04 20:54] #80 closed, assigned to nobody

[2019-09-15 13:02] JunjiUmeno opened #83 "typescript fails to start with "Error: Debug Failure. False expression.""
I followed the [insturctionon](https://github.com/riot/examples/tree/gh-pages/typescript#run-locally) and I have failed at 'npm start' with the error, **"Error: Debug Failure. False expression."**
This seems a transpile code fails to transform typescript into js.

Log:

Module build failed (from ./node_modules/@riotjs/webpack-loader/dist/riot-webpack-loader.cjs.js):
Error: Debug Failure. False exp

[2019-09-15 14:32] GianlucaGuarini commented on #83
I have just updated the npm dependencies and I can not reproduce the issue. Can you try again please?

[2019-09-16 02:04] JunjiUmeno commented on #83
Many thanks. I gonna try it later.

[2019-09-16 12:34] JunjiUmeno commented on #83
After checking out your commit and npm-install done , I got the same error.
A problem occurred at the function 'createProgram' in typescript/riot-typescript-transformer.js.
What on earth this function 'check' is for?

[2019-09-16 13:02] GianlucaGuarini commented on #83
@JunjiUmeno are you on Windows? In that case I will need to check what could be the problem.
The riot-typescript-transformer is a type checker for `*.riot` files, typescript doesn't check types in files different than `.ts, .tsx`

[2019-09-16 23:05] JunjiUmeno commented on #83
I'm on Linux(debian). I'm a newbie on riot and typescript, and this might be not any appropriate comment. Is that error for any riot scripts? If so, I suppose it's 'random.riot', which is only a riot script in this project  , and I don't know which part of the script is wrong. Those error messages look warning about typescript rules.

[2019-09-18 19:16] GianlucaGuarini commented on #83
I am not to reproduce the issue (I work on a mac so the Unix shell should make no difference). I will leave this issue open hoping someone could shine a bit of light on it

[2019-09-30 18:52] lxndrdagreat commented on #83
I am also on Windows and have been digging into this issue. Via commenting out sections of code I eventually realized that the issue is this line: `import Logs from '../logs/logs.riot'`.

There is no "../logs/logs.riot" in the project tree. This is probably due to the following in the gitignore:
[code]

[2019-10-01 06:12] GianlucaGuarini commented on #83
@lxndrdagreat well that's actually the problem 😄  I will fix it asap thank you

[2019-10-01 15:41] JunjiUmeno commented on #83
I also found on my workspace an import statement in the random.riot file.

It seems to expect logs.riot, but we don't have it.

[2019-10-03 19:05] #83 closed, assigned to GianlucaGuarini

[2019-10-03 19:06] GianlucaGuarini commented on #83
Fixed guys. Thank you for your help

[2019-12-18 16:45] hairlesshobo commented on #80
OK.. this saved me!!

I've been struggling for two days to get my app to work in IE11 (for corp intranet compatibility) and getting riot to play nice was the last issue I was encountering. That example with the web components template was exactly what I was missing!!

Thank you very much!!

[2020-01-12 14:44] PseudoMon opened #89 "Webpack example doesn't work"
I copied the entirety of the webpack example folder and installed all the dependencies. When I run `npm start`, I got this error:

[code]

I'm still pretty new to using Webpack, so I'm not sure what's causing it.

[2020-01-12 14:57] GianlucaGuarini commented on #89
I have just checked the webpack example `cd webpack && npm i && npm start` and it worked perfectly. Please make sure your problem is not somewhere else. It would be great also if you could reproduce the issue on https://codesandbox.io/

[2020-01-12 14:57] #89 closed, assigned to GianlucaGuarini

[2020-01-31 08:18] lucabassplayer89 opened #90 "DOMException Failed to execute 'insertBefore' on 'Node'"
hi all,
i don't understand this exception in my riot v4 project.
The message is:
riot+compiler.js?v=dd6adea73093a1cdadf25239d0e45752:881 Uncaught DOMException: Failed to execute 'insertBefore' on 'Node': The node before which the new node is to be inserted is not a child of this node.
If i refresh the browser page the error doesn't appear...

[2020-01-31 08:51] GianlucaGuarini commented on #90
Please open an issue here with a Demo that we could test https://github.com/riot/riot. Thank you

[2020-01-31 08:51] #90 closed, assigned to nobody

[2020-02-10 14:23] desudo opened #91 "checked checkbox when deleting todo item"
Copied the todo app [https://riot.js.org/documentation/#todo-example](https://riot.js.org/documentation/#todo-example) and added some extra features like deleting checked items.

When deleting a checked item, the checkbox of the next item in the list becomes checked although it does not have the attribute "checked" or the property "done" ins the items object.

This can be solved by either giving e

[2020-02-10 14:26] GianlucaGuarini commented on #91
@desudo please check the `key` attribute as recommended by the documentation https://riot.js.org/documentation/#loops-advanced-tips

[2020-02-10 14:26] #91 closed, assigned to nobody

[2020-02-10 14:59] SassNinja commented on #91
when using `key` that issue doesn't appear

however you don't always have a key or rather immutable collections...
seems the state update doesn't handle this properly because `checked={ undefined }` works as expected on initial rendering and only causes this issue on update

[2020-07-06 18:11] jbrozek opened #106 "Named Slots"
https://plnkr.co/edit/mw6VQTqFrCr9r9wL

I'm attempting to use the named slots feature, seems straight forward.  The rendering here is not in the order I would expect.

Am I doing something incorrect?

[2020-07-07 06:00] GianlucaGuarini commented on #106
From our doc https://riot.js.org/documentation/#slots:

[2020-07-07 06:00] #106 closed, assigned to nobody

[2020-11-13 15:12] ericc06 opened #123 "Typo in package.json"
Found
    "@riotjs/compiler": "ˆ5.0.0",
instead of
    "@riotjs/compiler": "^5.0.0",

That is to say:
ˆ vs. ^

[2020-11-14 10:28] GianlucaGuarini commented on #123
@ericc06 thank you, could you please make a PR to fix the issue? Thanks

[2020-11-20 06:51] #123 closed, assigned to nobody

[2022-09-09 20:56] #74 closed, assigned to nobody

[2022-09-09 20:56] GianlucaGuarini commented on #70
https://github.com/riot/examples/tree/gh-pages/lazy-routes

[2022-09-09 20:56] #70 closed, assigned to nobody